.grid-container {
    display: grid;
    grid-gap: 1em;
    width: 100%;
    height: 100%;
    background:  #f0f0f0;
    grid-gap: 1em;
    grid-template-areas: 
        "feature"
        "divider"
        "sidebar";
}
@media (min-width: 500px) {
    .grid-container {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
        "feature    feature"
        "sidebar    sidebar"
        "sidebar    sidebar";
    }
    
}

@media (min-width: 700px) {
    .grid-container {
      grid-template-columns: 2fr 0.25fr 4fr;
      grid-template-rows: 7fr;
      grid-gap: 0px;
      grid-template-areas: 
        "sidebar  divider  feature";
    }
    
}

.divider {
    grid-area: divider;
    background-image: url(../../public/images/pokemonBallStripe.png);
}


.feature {
    grid-area: feature;
    text-align: center;
    background: #f0f0f0;
}
