.sidebar {
    text-align: center;
    grid-area: sidebar;
    background: #ee1515;
}


.sidebar__list {
    display: block;
    overflow: auto;
    max-width: 100%;
}

.sidebar__list-item {
    width: 75%;
    background: black;
    color: #f0f0f0;
    margin-bottom: 0.5em;
}