html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}
